<!DOCTYPE html>
<html>
  <head>
    <title>SurveyorGui</title>
    <%= stylesheet_link_tag    "surveyor_gui_all", :media => "all" %>
    <%= javascript_include_tag "surveyor_gui_all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', main_app.root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', main_app.edit_user_registration_path %> |
    <%= link_to "Logout", main_app.destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", main_app.new_user_registration_path %> |
    <%= link_to "Login", main_app.new_user_session_path %>
  <% end %>

      </ul>
    </div>
  </div>
</nav>

    </header>
    <div id="surveyor_gui_mount_point" data-surveyor_gui_mount_point="<%= surveyor_gui.surveyforms_path %>"></div>
   <% flash.each do |key, value| %>
     <%= content_tag(:div, value, :class => "flash #{key}") %>
   <% end %>
   <%= yield %>

  </body>
</html>
